@model SupplierViewModel;

@{
    ViewData["Title"] = "Ativar o fornecedor";
}

<div>
    <form asp-action="Activate">
        <div class="mb-3">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control form-control-sm form-text text-dark" readonly="readonly" />
        </div>

        <div class="mb-3">
            <label asp-for="CorporateName" class="col-form-label"></label>
            <input asp-for="CorporateName" class="form-control form-control-sm form-text text-dark" readonly="readonly" />
        </div>

        <div class="mb-3">
            <label asp-for="Document.Number" class="col-form-label" title="Documento">Número do documento</label>
            <input asp-for="Document.Number" class="form-control form-control-sm form-text text-dark" readonly="readonly"/>
        </div>

        <input type="submit" class="btn btn-sm btn-success mr-2" title="Ativar" />
        <a class="btn btn-sm btn-danger" asp-action="Index">Cancelar</a>
    </form>
</div>