@model SupplierViewModel;

@{
    ViewData["Title"] = "Atualização do fornecedor";
}

<div class="d-flex justify-content-center mt-4">
    <div class="card mx-auto">
        <div class="card-header">
            <h3 class="display-5">Atualização do Fornecedor</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update">
                <vc:summary></vc:summary>
                <div class="m-2">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control form-control-sm form-text text-dark" placeholder="Nome do fornecedor" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="CorporateName" class="form-label"></label>
                    <input asp-for="CorporateName" class="form-control form-control-sm form-text text-dark" placeholder="Razão Social do fornecedor" />
                    <span asp-validation-for="CorporateName" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control form-control-sm form-text text-dark" placeholder="Nome do fornecedor" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control form-control-sm form-text text-dark" placeholder="Telefone do fornecedor" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="Contact" class="form-label"></label>
                    <input asp-for="Contact" class="form-control form-control-sm form-text text-dark" placeholder="Nome de contato" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="Document.Type" class="form-label"></label>
                    <select class="form-select form-select-sm" aria-label="DocumentType" asp-for="Document.Type">
                        <option selected>Escolha uma opção</option>
                        <option value="1">CPF</option>
                        <option value="2">CNPJ</option>
                    </select>
                    <span asp-validation-for="Document.Type" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="Document.Number" class="form-label"></label>
                    <input asp-for="Document.Number" class="form-control form-control-sm form-text text-dark" placeholder="Número do documento" />
                    <span asp-validation-for="Document.Number" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email.EmailAddress" class="form-control form-control-sm form-text text-dark" placeholder="Endereço de e-mail" />
                    <span asp-validation-for="Email.EmailAddress" class="text-danger"></span>
                </div>

                <div class="m-2">
                    <input type="submit" class="btn btn-sm btn-success btn-form me-2" title="Atualizar" />
                    <a class="btn btn-sm btn-danger btn-form" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>