@model CategoryViewModel;

@{
    ViewData["Title"] = "Exclusão de categoria";
}

<div>
    <form asp-action="Delete">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control form-control-sm form-text text-dark"/>
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
        <input type="submit" class="btn btn-sm btn-success mr-2" title="Deletar" />
        <a class="btn btn-sm btn-danger" asp-action="Index">Cancelar</a>
    </form>
</div>
