@model CategoryViewModel;

@{
    ViewData["Title"] = "Detalhes da categoria";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Name)
                </td>
            </tr>
        </tbody>
    </table>
</div>
