@model ProductViewModel;

@{
    ViewData["Title"] = "Ativar o produto";
}

<div class="d-flex justify-content-center mt-4">
    <div class="card mx-auto">
        <div class="card-header">
            <h3 class="display-5">Ativação do Produto</h3>
        </div>
        <div class="card-body">
            @{
                if (Model.Active)
                {
                    <div class="container justify-content-center">
                        <div class="alert alert-primary text-center">
                            <h3>Ops! O produto <strong>@Model.Name</strong> já está ATIVO.</h3>
                            <a class="btn btn-sm btn-danger" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="m-2">
                        <img class="img-product" src="~/img/@Model.Image" alt="@Model.Image" />
                    </div>
                    <div class="m-2">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control form-control-sm form-text text-dark" readonly="readonly" />
                    </div>
                    <form asp-action="Activate">
                        <div class="m-2">
                            <input type="submit" class="btn btn-sm btn-success btn-form me-2" name="Ativar" title="Ativar" />
                            <a class="btn btn-sm btn-danger btn-form me-2" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>