@model ProductViewModel;

@{
    ViewData["Title"] = "Novo Produto";
}

<div class="container">
    <form enctype="multipart/form-data" asp-action="Create">
        <div class="mb-3">
            <label asp-for="ImageUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="col-form-label" id="ImageUpload" asp-for="ImageUpload">
                    <label data-browse="Buscar imagem" class="input-group" for="ImageUpload"></label>
                    <label style="display: none" id="img_nome"></label>
                </div>

                <span asp-validation-for="ImageUpload" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control form-control-sm form-text text-dark" placeholder="Nome do produto" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="col-form-label"></label>
            <textarea cols="40" rows="5" asp-for="Description" class="form-control form-control-sm form-text text-dark" placeholder="Descrição do produto"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="col-form-label"></label>
            <input asp-for="Price" class="form-control form-control-sm form-text text-dark" placeholder="Valor unitário do produto" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SupplierId" class="col-form-label"></label>
                <select asp-for="SupplierId" aria-label="SupplierId" class="form-control form-control-sm form-text text-dark" asp-items="@(new SelectList(Model.Suppliers, "Id", "Name"))">
                    <option selected>Escolha um Fornecedor</option>
                </select>

                <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CategoryId" class="col-form-label"></label>
            <select asp-for="CategoryId" aria-label="CategoryId" class="form-control form-control-sm form-text text-dark" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                <option selected>Escolha uma Categoria</option>
            </select>

            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-sm btn-success mr-2" title="Cadastrar" />
        <a class="btn btn-sm btn-danger" asp-action="Index">Cancelar</a>
    </form>
</div>
