@model ProductViewModel;

@{
    ViewData["Title"] = "Desativar o produto";
}

<div class="d-flex justify-content-center mt-4">
    <div class="card mx-auto">
        <div class="card-header">
            <h3 class="display-5">Desativação do Produto</h3>
        </div>
        <div class="card-body">
            <div class="m-2">
                <img class="img-fluid" src="~/img/@Model.Image" alt="@Model.Image" />
            </div>
            <div class="m-2">
                <form asp-action="Deactivate">
                    <div class="m-2">
                        <input type="submit" class="btn btn-sm btn-success btn-form me-2" name="Desativar" title="Desativar" />
                        <a class="btn btn-sm btn-danger btn-form me-2" asp-action="Index">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>