@model ProductViewModel;

@{
    ViewData["Title"] = "Exclusão de produto";
}

<div class="d-flex justify-content-center mt-4">
    <div class="card mx-auto">
        <div class="card-header">
            <h3 class="display-5">Exclusão de Produto</h3>
        </div>
        <div class="card-body">
            <form asp-action="Delete">
                <div class="m-2">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control form-control-sm form-text text-dark" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="m-2">
                    <input type="submit" class="btn btn-sm btn-success btn-form me-2" title="Deletar" />
                    <a class="btn btn-sm btn-danger btn-form" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
